<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ArunProduct</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sis.com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutService</display-name>
    <servlet-name>LogoutService</servlet-name>
    <servlet-class>sis.com.controller.LogoutService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutService</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>sis.com.controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/addpro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductController</display-name>
    <servlet-name>UpdateProductController</servlet-name>
    <servlet-class>sis.com.controller.UpdateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController</servlet-name>
    <url-pattern>/updateproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllProductController</display-name>
    <servlet-name>ShowAllProductController</servlet-name>
    <servlet-class>sis.com.controller.ShowAllProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllProductController</servlet-name>
    <url-pattern>/showallproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductController</display-name>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>sis.com.controller.DeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/DeleteProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductController</display-name>
    <servlet-name>SearchProductController</servlet-name>
    <servlet-class>sis.com.controller.SearchProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductController</servlet-name>
    <url-pattern>/searchproducts</url-pattern>
  </servlet-mapping>
  
</web-app>